{% extends 'base.html.twig' %}

{% block title %}SeatShablon index{% endblock %}

{% block body %}
    <h1>SeatShablon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CompartmentNumber</th>
                <th>CompartmentType</th>
                <th>ZoneNumber</th>
                <th>SectorNumber</th>
                <th>Row</th>
                <th>NumberInRow</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for seat_shablon in seat_shablons %}
            <tr>
                <td>{{ seat_shablon.id }}</td>
                <td>{{ seat_shablon.compartmentNumber }}</td>
                <td>{{ seat_shablon.compartmentType }}</td>
                <td>{{ seat_shablon.zoneNumber }}</td>
                <td>{{ seat_shablon.sectorNumber }}</td>
                <td>{{ seat_shablon.row }}</td>
                <td>{{ seat_shablon.numberInRow }}</td>
                <td>
                    <a href="{{ path('app_seat_shablon_show', {'id': seat_shablon.id}) }}">show</a>
                    <a href="{{ path('app_seat_shablon_edit', {'id': seat_shablon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_seat_shablon_new') }}">Create new</a>
{% endblock %}
