{% extends 'base.html.twig' %}

{% block title %}SeatShablon{% endblock %}

{% block body %}
    <h1>SeatShablon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seat_shablon.id }}</td>
            </tr>
            <tr>
                <th>CompartmentNumber</th>
                <td>{{ seat_shablon.compartmentNumber }}</td>
            </tr>
            <tr>
                <th>CompartmentType</th>
                <td>{{ seat_shablon.compartmentType }}</td>
            </tr>
            <tr>
                <th>ZoneNumber</th>
                <td>{{ seat_shablon.zoneNumber }}</td>
            </tr>
            <tr>
                <th>SectorNumber</th>
                <td>{{ seat_shablon.sectorNumber }}</td>
            </tr>
            <tr>
                <th>Row</th>
                <td>{{ seat_shablon.row }}</td>
            </tr>
            <tr>
                <th>NumberInRow</th>
                <td>{{ seat_shablon.numberInRow }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_seat_shablon_index') }}">back to list</a>

    <a href="{{ path('app_seat_shablon_edit', {'id': seat_shablon.id}) }}">edit</a>

    {{ include('seat_shablon/_delete_form.html.twig') }}
{% endblock %}
