{% extends 'base.html.twig' %}

{% block title %}Flights index{% endblock %}

{% block body %}
    <h1>Flights index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SheduledDeparture</th>
                <th>SheduledArrival</th>
                <th>Finished</th>
                <th>ActualDeparture</th>
                <th>ActualArrival</th>
                <th>FlightNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>{{ flight.sheduledDeparture ? flight.sheduledDeparture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ flight.sheduledArrival ? flight.sheduledArrival|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ flight.finished ? 'Yes' : 'No' }}</td>
                <td>{{ flight.actualDeparture ? flight.actualDeparture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ flight.actualArrival ? flight.actualArrival|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ flight.flightNumber }}</td>
                <td>
                    <a href="{{ path('app_flights_show', {'id': flight.id}) }}">show</a>
                    <a href="{{ path('app_flights_edit', {'id': flight.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_flights_new') }}">Create new</a>
{% endblock %}
