{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Main_page.css') }}">
{% endblock %}

{% block body %}
    <div class="Main_poster" style="background-image: url('{{ asset('img/Main_page_theme.png') }}')">
        <h1>MyFlight - это профессиональные перелеты</h1>

        <div class="search_div">
            {{ form_start(form, {'attr': {'class': 'search_form'} } ) }}

            <div class="form_fields">
                {{ form_widget(form.departureAirport, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.arrivalAirport, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.sheduledDeparture, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.PersonCount, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.ServisClass, {'attr': {'class': 'form_field'}}) }}
            </div>

            <div>
                <input type="submit" name="PerCount" class="submit_button" value="Найти билеты">
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    <div class="container my-4">
        <div class="row">

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="d-flex align-items-center p-3" >
                        <img src="{{ asset('img/flight_statistic_icon.png') }}" style="width:50px; height:auto; margin-right:10px;">
                        <div>
                            <h5 class="card-title mb-2">Постоянный рост направлений</h5>
                            <p class="card-text lines-3">Количество доступных рейсов растет из-за дня в день.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="d-flex align-items-center p-3" >
                        <img src="{{ asset('img/tickets_icon.png') }}" style="width:50px; height:auto; margin-right:10px;">
                        <div>
                            <h5 class="card-title mb-2">Доступные билеты</h5>
                            <p class="card-text lines-3">Быстрая и дешевая покупка авиабилетов из любой точки мира.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="d-flex align-items-center p-3" >
                        <img src="{{ asset('img/support_icon.png') }}" style="width:50px; height:auto; margin-right:10px;">
                        <div>
                            <h5 class="card-title mb-2">Поддержка 24 / 7</h5>
                            <p class="card-text lines-3">Ответим на ваши вопросы в месенжерах или по телефону.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Можно добавить ещё карточек -->
        </div>
    </div>


{% endblock %}
