{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Faq{% endblock %}

{% block workPlace %}
    <h1>Faq главная</h1>

    <a href="{{ path('app_faq_set_new') }}" class="aCreate">Создать</a>

    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Заголовок</th>
{#                <th>FaqBody</th>#}
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
            <tr>
                <td>{{ faq.id }}</td>
                <td>{{ faq.title }}</td>
{#                <td>{{ faq.faqBody }}</td>#}
                <td>
                    <a href="{{ path('app_faq_set_edit', {'id': faq.id}) }}" class="aUpdate">Обновить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
