{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Аэропорты{% endblock %}

{% block workPlace %}
    <h1>Аэропорты главная</h1>

    <a href="{{ path('app_airports_new') }}" class="aCreate">Создать</a>

    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Аэропорт</th>
                <th>Долгота</th>
                <th>Широта</th>
                <th>Временная зона</th>
                <th>Город</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for airport in airports %}
            <tr>
                <td>{{ airport.id }}</td>
                <td>{{ airport.airportName }}</td>
                <td>{{ airport.longtitude }}</td>
                <td>{{ airport.latitude }}</td>
                <td>{{ airport.timezone }}</td>
                <td>{{ airport.city.cityName }}</td>
                <td>
                    <a href="{{ path('app_airports_edit', {'id': airport.id}) }}" class="aUpdate">Обновить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
