{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin_pages.css') }}">
{% endblock %}

{% block body %}
    <div class="window_div">
        <div class="sidenav">
            {% block sidebar %}
                    <a href="{{ path('app_airlinePanel') }}">Главная</a>
                    <br>
                    <a href="{{ path('app_flights_index') }}">Рейсы</a>
                    <a href="{{ path('app_plane_class_rate_index') }}">Тарифы классов</a>
                    <a href="{{ path('app_baggage_politicy_rate_index') }}">Тарифы багажа</a>
                    <br>
            {% endblock sidebar %}
        </div>
        <div class="work_place">
            {% block workPlace %}
            {% endblock workPlace %}
        </div>


    </div>


{% endblock%}
