{% extends 'base.html.twig' %}

{% block title %}FlightsSeats index{% endblock %}

{% block body %}
    <h1>FlightsSeats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CompartmentNumber</th>
                <th>CompartmentType</th>
                <th>ZoneNumber</th>
                <th>SectorNumber</th>
                <th>Row</th>
                <th>NumberInRow</th>
                <th>Avalible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flights_seat in flights_seats %}
            <tr>
                <td>{{ flights_seat.id }}</td>
                <td>{{ flights_seat.compartmentNumber }}</td>
                <td>{{ flights_seat.compartmentType }}</td>
                <td>{{ flights_seat.zoneNumber }}</td>
                <td>{{ flights_seat.sectorNumber }}</td>
                <td>{{ flights_seat.row }}</td>
                <td>{{ flights_seat.numberInRow }}</td>
                <td>{{ flights_seat.avalible ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_flights_seats_show', {'id': flights_seat.id}) }}">show</a>
                    <a href="{{ path('app_flights_seats_edit', {'id': flights_seat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_flights_seats_new') }}">Create new</a>
{% endblock %}
