{% extends 'base.html.twig' %}

{% block title %}FlightsSeats{% endblock %}

{% block body %}
    <h1>FlightsSeats</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flights_seat.id }}</td>
            </tr>
            <tr>
                <th>CompartmentNumber</th>
                <td>{{ flights_seat.compartmentNumber }}</td>
            </tr>
            <tr>
                <th>CompartmentType</th>
                <td>{{ flights_seat.compartmentType }}</td>
            </tr>
            <tr>
                <th>ZoneNumber</th>
                <td>{{ flights_seat.zoneNumber }}</td>
            </tr>
            <tr>
                <th>SectorNumber</th>
                <td>{{ flights_seat.sectorNumber }}</td>
            </tr>
            <tr>
                <th>Row</th>
                <td>{{ flights_seat.row }}</td>
            </tr>
            <tr>
                <th>NumberInRow</th>
                <td>{{ flights_seat.numberInRow }}</td>
            </tr>
            <tr>
                <th>Avalible</th>
                <td>{{ flights_seat.avalible ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_flights_seats_index') }}">back to list</a>

    <a href="{{ path('app_flights_seats_edit', {'id': flights_seat.id}) }}">edit</a>

    {{ include('flights_seats/_delete_form.html.twig') }}
{% endblock %}
