{% extends 'base.html.twig' %}

{% block title %}HundLuggagePoliticy{% endblock %}

{% block body %}
    <h1>HundLuggagePoliticy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hund_luggage_politicy.id }}</td>
            </tr>
            <tr>
                <th>ItemsCount</th>
                <td>{{ hund_luggage_politicy.ItemsCount }}</td>
            </tr>
            <tr>
                <th>WeightPerItem</th>
                <td>{{ hund_luggage_politicy.weightPerItem }}</td>
            </tr>
            <tr>
                <th>WidthX</th>
                <td>{{ hund_luggage_politicy.widthX }}</td>
            </tr>
            <tr>
                <th>LengthY</th>
                <td>{{ hund_luggage_politicy.lengthY }}</td>
            </tr>
            <tr>
                <th>HeightZ</th>
                <td>{{ hund_luggage_politicy.heightZ }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hund_luggage_politicy_index') }}">back to list</a>

    <a href="{{ path('app_hund_luggage_politicy_edit', {'id': hund_luggage_politicy.id}) }}">edit</a>

    {{ include('hund_luggage_politicy/_delete_form.html.twig') }}
{% endblock %}
