{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin_pages.css') }}">
{% endblock %}

{% block body %}
    <div class="window_div">
        <div class="sidenav">
            {% block sidebar %}
                    <a href="{{ path('app_admin') }}">Главная</a>
                    <br>
                    <a href="{{ path('app_airline_index') }}">Авиакомпании</a>
                    <a href="{{ path('app_user_accounts_index') }}">Аккаунты</a>
                    <br>
                     <a href="{{ path('app_aircraft_index') }}">Транспорт</a>
                    <a href="{{ path('app_aircraft_model_index') }}">Модель транспорта</a>
                    <a href="{{ path('app_seats_discription_shablon_index') }}">Шаблоны мест</a>
                    <a href="{{ path('app_manufacturers_index') }}">Изготовители</a>
                    <br>
                    <a href="{{ path('app_airports_index') }}">Аэропорты</a>
                    <a href="{{ path('app_cities_index') }}">Города</a>
                    <br>
                    <a href="{{ path('app_baggage_politicy_index') }}">Политика багажа</a>
                    <a href="{{ path('app_hund_luggage_politicy_index') }}">Политика ручной клади</a>
                    <br>
                    <a href="{{ path('app_faq_set_index') }}">FAQ</a>
                    <br>

            {% endblock sidebar %}
        </div>
        <div class="work_place">
            {% block workPlace %}

            {% endblock workPlace %}
        </div>


    </div>


{% endblock%}
