{% extends 'base.html.twig' %}

{% block title %}SeatsDiscriptionShablon index{% endblock %}

{% block body %}
    <h1>SeatsDiscriptionShablon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SeatsDiscriptionShablonName</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for seats_discription_shablon in seats_discription_shablons %}
            <tr>
                <td>{{ seats_discription_shablon.id }}</td>
                <td>{{ seats_discription_shablon.SeatsDiscriptionShablonName }}</td>
                <td>
                    <a href="{{ path('app_seats_discription_shablon_show', {'id': seats_discription_shablon.id}) }}">show</a>
                    <a href="{{ path('app_seats_discription_shablon_edit', {'id': seats_discription_shablon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_seats_discription_shablon_new') }}">Create new</a>
{% endblock %}
