{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Политика ручной клади{% endblock %}

{% block workPlace %}
    <h1>Политика ручной клади главная</h1>

    <a href="{{ path('app_hund_luggage_politicy_new') }}" class="aCreate">Создать</a>


    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Количество вещей</th>
                <th>Вес на единицу (кг)</th>
                <th>Ширина (см)</th>
                <th>Длина (см)</th>
                <th>Высота (см)</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for hund_luggage_politicy in hund_luggage_politicies %}
            <tr>
                <td>{{ hund_luggage_politicy.id }}</td>
                <td>{{ hund_luggage_politicy.ItemsCount }}</td>
                <td>{{ hund_luggage_politicy.weightPerItem }}</td>
                <td>{{ hund_luggage_politicy.widthX }}</td>
                <td>{{ hund_luggage_politicy.lengthY }}</td>
                <td>{{ hund_luggage_politicy.heightZ }}</td>
                <td>
                    <a href="{{ path('app_hund_luggage_politicy_edit', {'id': hund_luggage_politicy.id}) }}" class="aUpdate">Обновить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
