{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Модель транспорта{% endblock %}

{% block workPlace %}
    <h1>Модель транспорта главная</h1>

    <a href="{{ path('app_aircraft_model_new') }}" class="aCreate">Создать</a>

    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Модель</th>
                <th>Шаблон посадочных мест</th>
                <th>Изготовитель</th>
                <th>Средняя скорость (км/ч)</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for aircraft_model in aircraft_models %}
            <tr>
                <td>{{ aircraft_model.id }}</td>
                <td>{{ aircraft_model.model }}</td>
                <td>{{ aircraft_model.seatsDiscriptionId.SeatsDiscriptionShablonName }}</td>
                <td>{{ aircraft_model.manufacturerId.manufacturerName }}</td>
                <td>{{ aircraft_model.averageSpeed }}</td>
                <td>
                    <a href="{{ path('app_aircraft_model_edit', {'id': aircraft_model.id}) }}" class="aUpdate">Изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
