{% extends 'base.html.twig' %}

{% block title %}BaggagePoliticy index{% endblock %}

{% block body %}
    <h1>BaggagePoliticy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ItemsCount</th>
                <th>WeightPerItem</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for baggage_politicy in baggage_politicies %}
            <tr>
                <td>{{ baggage_politicy.id }}</td>
                <td>{{ baggage_politicy.itemsCount }}</td>
                <td>{{ baggage_politicy.weightPerItem }}</td>
                <td>
                    <a href="{{ path('app_baggage_politicy_show', {'id': baggage_politicy.id}) }}">show</a>
                    <a href="{{ path('app_baggage_politicy_edit', {'id': baggage_politicy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_baggage_politicy_new') }}">Create new</a>
{% endblock %}
