{% extends 'base.html.twig' %}

{% block title %}BaggagePoliticy{% endblock %}

{% block body %}
    <h1>BaggagePoliticy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ baggage_politicy.id }}</td>
            </tr>
            <tr>
                <th>ItemsCount</th>
                <td>{{ baggage_politicy.itemsCount }}</td>
            </tr>
            <tr>
                <th>WeightPerItem</th>
                <td>{{ baggage_politicy.weightPerItem }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_baggage_politicy_index') }}">back to list</a>

    <a href="{{ path('app_baggage_politicy_edit', {'id': baggage_politicy.id}) }}">edit</a>

    {{ include('baggage_politicy/_delete_form.html.twig') }}
{% endblock %}
