{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Транспорт{% endblock %}

{% block workPlace %}
    <h1>Транспорт главная</h1>

    <a href="{{ path('app_aircraft_new') }}" class="aCreate">Создать</a>

    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Авиакомпания</th>
                <th>Модель</th>
                <th>Дата изготовления</th>
                <th>Регистрационный номер</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for aircraft in aircraft %}
            <tr>
                <td>{{ aircraft.id }}</td>
                <td>{{ aircraft.airlineId.airlineName }}</td>
                <td>{{ aircraft.aircraftModelId.model }}</td>
                <td>{{ aircraft.manufactureDate ? aircraft.manufactureDate|date('Y-m-d') : '' }}</td>
                <td>{{ aircraft.registrationNumber }}</td>
                <td>
                    <a href="{{ path('app_aircraft_edit', {'id': aircraft.id}) }}" class="aUpdate">Изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
