{% extends 'base.html.twig' %}

{% block title %}Билеты главная{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Main_page.css') }}">
{% endblock %}

{% block body %}
    <h1>Билеты главная</h1>
    <div class="Main_poster">
        <div class="search_div">
            {{ form_start(form, {'attr': {'class': 'search_form'} } ) }}

            <div class="form_fields">
                {{ form_widget(form.departureCity, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.arrivalCity, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.sheduledDeparture, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.PersonCount, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.ServisClass, {'attr': {'class': 'form_field'}}) }}
            </div>

            <div>
                <input type="submit" name="PerCount" class="submit_button" value="Найти билеты">
            </div>

            {{ form_end(form) }}
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Finished</th>
                <th>Timestamp</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.finished ? 'Yes' : 'No' }}</td>
                <td>{{ ticket.timestamp ? ticket.timestamp|date('Y-m-d H:i:s') : '' }}</td>
                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
