{% extends 'base.html.twig' %}

{% block title %}Билеты главная{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tickets_page.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search_form.css') }}">

{% endblock %}

{% block body %}
    <div>
    </div>
    <div class="Main_poster">
        <h1>Билеты главная</h1>
        <div class="search_div">
            {{ form_start(form, {'attr': {'class': 'search_form'} } ) }}

            <div class="form_fields">
                {{ form_widget(form.departureCity, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.arrivalCity, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.sheduledDeparture, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.PersonCount, {'attr': {'class': 'form_field'}}) }}
                {{ form_widget(form.ServisClass, {'attr': {'class': 'form_field'}}) }}
            </div>
            <div>
                <input type="submit" name="PerCount" class="submit_button" value="Найти билеты">
            </div>
            {{ form_end(form) }}
        </div>
    </div>


    <div class="ticket_list">
    {% for ticket in needFlightsData%}
        {{ include('tickets/ticket_card.html.twig', { ticket: ticket }) }}
    {% endfor %}
    </div>

{% endblock %}
