{% extends 'base.html.twig' %}

{% block title %}Airports index{% endblock %}

{% block body %}
    <h1>Airports index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AirportName</th>
                <th>Longtitude</th>
                <th>Latitude</th>
                <th>Timezone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for airport in airports %}
            <tr>
                <td>{{ airport.id }}</td>
                <td>{{ airport.AirportName }}</td>
                <td>{{ airport.longtitude }}</td>
                <td>{{ airport.latitude }}</td>
                <td>{{ airport.timezone }}</td>
                <td>
                    <a href="{{ path('app_airports_show', {'id': airport.id}) }}">show</a>
                    <a href="{{ path('app_airports_edit', {'id': airport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_airports_new') }}">Create new</a>
{% endblock %}
